.BrandList {
  max-width: 800px;
  margin: 32px auto 64px;
}

.BrandList a {
  display: inline-block;
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 600;
}

.BrandList ul {
  display: grid;
  grid-template-columns: repeat(6,minmax(0,1fr));
  grid-gap: 8px;
  padding: 0 16px;
}